include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include Dockerfile
include LICENSE
include Makefile
include README.md
include SECURITY.md
include action.yml
include mkdocs.yml
include requirements-docs.txt
recursive-include docs *.md *.svg *.png *.css
recursive-include recipes *.md *.sh
recursive-include schemas *.json
recursive-include scripts *.py
recursive-include tests *.py
